  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link" href='/'>
        Collectives
      </a>
    </li>    
    <li class="nav-item">
      <a class="nav-link" href='/projects'>
        Projects
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='/funders'>
        Funders
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href='/audit'>
        Audit
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='/sboms'>
        SBOMs
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='/advisories'>
        Advisories
      </a>
    </li>
  </ul>

<ul class="nav nav-tabs my-3">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:action] == 'user_owners' %>" href='/audit/user_owners'>User owners</a>
  </li>    
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:action] == 'no_projects' %>" href='/audit/no_projects'>No projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:action] == 'no_license' %>" href='/audit/no_license'>No license</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:action] == 'archived' %>" href='/audit/archived'>Archived</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:action] == 'inactive' %>" href='/audit/inactive'>Inactive</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:action] == 'no_funding' %>" href='/audit/no_funding'>No funding.yml</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:action] == 'duplicates' %>" href='/audit/duplicates'>Duplicates</a>
  </li>
</ul>