<% @meta_title = "Audit: No license" %>
<% @meta_description = "Open Source Collective Projects without a license" %>

<div class="container-md">
  <%= render 'nav' %>

  <% @collectives.each do |collective| %>
    <div class="collective card my-2">
      <div class='card-body'>
        <div class="d-flex">
      
          <div class="flex-grow-1 ms-3 text-break">
            <h4><%= link_to collective.name, collective %></h4>
            <p><%= collective.description %></p>
            <p><%= number_with_delimiter collective.projects_count %> repositories - <%= number_with_delimiter collective.transactions_count %> transactions - Balance: <%= collective.balance.round(2)%> <%= collective.currency %></p>
            <% if collective.project_url %>
              <p>Project url: <%= link_to collective.project_url, collective.project_url, target: :_blank %></p>
            <% end %>
          </div>
          <div class="flex-shrink-0">
            <img src="<%= collective.icon_url %>" class="rounded" height='40' width='40' onerror="this.style.display='none'">
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <p>
    <i>
      <small>
        Displaying <%= pluralize @collectives.length, 'collective' %> with repositories, that we can't detect a license for.
      </small>
    </i>
  </p>

  <%= link_to 'Export as CSV', audit_no_license_path(format: :csv), class: 'btn btn-primary' %>
</div>