<h3>Audit</h3>

<div class='row'>
  <div class='col-12'>
    <ul>
      <li>
        <strong>Owned by an org:</strong>
        <%= @collective.org_owner? ? '✅' : '❌' %>
      </li>
      <li>
        <strong>Repositories found:</strong>
        <%= @collective.projects_with_repository.any? ? '✅' : '❌' %>
      </li>
      <li>
        <strong>Open Source License:</strong>
        <%= !@collective.no_license? ? '✅' : '❌' %>
      </li>
      <li>
        <strong>Active Repositories:</strong>
        <%= !@collective.inactive? ? '✅' : '❌' %>
      </li>
      <% if @collective.archived? %>
      <li>
        <strong>Unarchived Repositories:</strong>
        <%= !@collective.archived? ? '✅' : '❌' %>
      </li>
      <% end %>
      <li>
        <strong>Funding links:</strong>
        <%= !@collective.no_funding? ? '✅' : '❌' %>
      </li>
    </ul>
  </div>
</div>