<% active ||= 'overview' %>

<ul class="nav nav-tabs my-3">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if active == 'overview' %>" href='<%= collective_path(@collective) %>'>
      Overview
    </a>
  </li>    
  <li class="nav-item">
    <a class="nav-link  <%= 'active' if active == 'projects' %>" href='<%= projects_collective_path(@collective) %>'>
      Projects
      <span class="badge bg-light text-dark">
        <%= number_with_delimiter(@collective.projects_count) %>
      </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link  <%= 'active' if active == 'issues' %>" href='<%= issues_collective_path(@collective) %>'>
      Issues and Pull Requests
      <span class="badge bg-light text-dark">
        <%= number_with_delimiter(@collective.issues.count) %>
      </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link  <%= 'active' if active == 'releases' %>" href='<%= releases_collective_path(@collective) %>'>
      Releases
      <span class="badge bg-light text-dark">
        <%= number_with_delimiter(@collective.tags.displayable.count) %>
      </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if active == 'commits' %>" href='<%= commits_collective_path(@collective) %>'>
      Commits
      <span class="badge bg-light text-dark">
        <%= number_with_delimiter(@collective.commits.count) %>
      </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if active == 'packages' %>" href='<%= packages_collective_path(@collective) %>'>
      Packages
      <span class="badge bg-light text-dark">
        <%= number_with_delimiter(@collective.packages.count) %>
      </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link  <%= 'active' if active == 'advisories' %>" href='<%= advisories_collective_path(@collective) %>'>
      Advisories
      <span class="badge bg-light text-dark">
        <%= number_with_delimiter(@collective.advisories.count) %>
      </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link  <%= 'active' if active == 'transactions' %>" href='<%= transactions_collective_path(@collective) %>'>
      Transactions
      <span class="badge bg-light text-dark">
        <%= number_with_delimiter(@collective.transactions_count) %>
      </span>
    </a>
  </li>
</ul>