<div class="container-md">

  <%= render 'nav' %>

  <%= form_with url: request.path, method: :get do |form| %>
    <%= form.label :range, 'Select range:' %>
    <%= form.select :range, options_for_select([30, 90, 180, 360, 720], @range.to_i), {}, { onchange: 'this.form.submit()' } %>
  <% end %><br/>

  <%= line_chart transactions_chart_path(chart: 'donations_and_expenses', range: @range, period: @period, start_date: @start_date, end_date: @end_date) %>
  <%= line_chart transactions_chart_path(chart: 'unique_donors_and_spenders', range: @range, period: @period, start_date: @start_date, end_date: @end_date) %>

  <%= line_chart tags_chart_path(chart: 'tags', period: @period, exclude_bots: @exclude_bots, range: @range, start_date: @start_date, end_date: @end_date), thousands: ",", title: 'Releases' %>
  <%= line_chart issues_chart_path(chart: 'maintainers', range: @range, period: @period, start_date: @start_date, end_date: @end_date), title: 'Maintainers' %>
  <%= line_chart issues_chart_path(chart: 'issues_opened', range: @range, period: @period, start_date: @start_date, end_date: @end_date), title: 'Issues Opened' %>
  <%= line_chart issues_chart_path(chart: 'issue_authors', range: @range, period: @period, start_date: @start_date, end_date: @end_date), title: 'Issue Authors' %>
  <%= line_chart issues_chart_path(chart: 'pull_request_average_time_to_merge', range: @range, period: @period, start_date: @start_date, end_date: @end_date), title: 'Average time to merge pull requests', ytitle: 'Days' %>

  <%= line_chart commits_chart_path(chart: 'commits', range: @range, period: @period, start_date: @start_date, end_date: @end_date), title: 'Commits' %>
  <%= line_chart commits_chart_path(chart: 'commit_authors', range: @range, period: @period, start_date: @start_date, end_date: @end_date), title: 'Commit Authors' %>

  <%= line_chart transactions_chart_path(chart: 'new_collectives', range: @range, period: @period, start_date: @start_date, end_date: @end_date), title: 'New Collectives' %>

  <div class="row my-5">
    <%= render @collectives %>
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
  </div>
</div>