<div class="container-md">
  <h2>
    <%= number_with_delimiter @pagy.count %>
    <% if params[:topic] %>
      "<%= params[:topic] %>"
    <% end %>
    Collective<%= 's' if @pagy.count > 1 %>
  </h2>

  <%= line_chart charts_data_collectives_path(chart: 'donations_and_expenses') %>
  <%= line_chart charts_data_collectives_path(chart: 'unique_donors_and_spenders') %>

  <div class="row my-5">

      <%= render @collectives %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  

  </div>
</div>