<div class="container-md">

  <%= render 'nav' %>

  <%= form_with url: request.path, method: :get do |form| %>
    <%= form.label :range, 'Select range:' %>
    <%= form.select :range, options_for_select([30, 90, 180, 360, 720], @range.to_i), {}, { onchange: 'this.form.submit()' } %>
  <% end %><br/>

  <%= line_chart charts_data_collectives_path(chart: 'donations_and_expenses', range: @range, period: @period) %>
  <%= line_chart charts_data_collectives_path(chart: 'unique_donors_and_spenders', range: @range, period: @period) %>

  <%= line_chart issue_charts_data_collectives_path(chart: 'maintainers', range: @range, period: @period), title: 'Maintainers' %>
  <%= line_chart issue_charts_data_collectives_path(chart: 'issues_opened', range: @range, period: @period), title: 'Issues Opened' %>
  <%= line_chart issue_charts_data_collectives_path(chart: 'issue_authors', range: @range, period: @period), title: 'Issue Authors' %>
  <%= line_chart issue_charts_data_collectives_path(chart: 'pull_request_average_time_to_merge', range: @range, period: @period), title: 'Average time to merge pull requests', ytitle: 'Days' %>

  <%= line_chart charts_data_collectives_path(chart: 'new_collectives', range: @range, period: @period), title: 'New Collectives' %>

  <div class="row my-5">
    <%= render @collectives %>
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
  </div>
</div>