<div class="container-md">
  <h3>Collectives with no projects</h3>

  <% @collectives.each do |collective| %>
    <div class="collective card my-2">
      <div class='card-body'>
        <h4><%= link_to collective.name, collective %></h4>
        <p><%= collective.description %></p>
        <p><%= link_to collective.project_url, collective.project_url, target: :_blank %></p>
      </div>
    </div>
  <% end %>

  <h3>Collectives with no license</h3>

  <% @no_license.each do |collective| %>
    <div class="collective card my-2">
      <div class='card-body'>
        <h4><%= link_to collective.name, collective %></h4>
        <p><%= link_to collective.projects.first.repository_url, collective.projects.first.repository_url, target: :_blank %></p>
      </div>
    </div>
  <% end %>
</div>