<% @meta_title = "#{@collective}" %>

<div class="container-md">
  <h1>
    <%= @collective.to_s %><br/>
  </h1>

  <p>
    <%= @collective.description %> <br/>
    <%= link_to @collective.html_url, @collective.html_url, target: :_blank %> - 
    <%= link_to @collective.website, @collective.website, target: :_blank %>
  </p>

  <% if @collective.transactions_count > 0 %>

    <%= line_chart chart_data_collective_path(chart: 'all_transactions'), title: 'All Transactions' %>
    <%= line_chart chart_data_collective_path(chart: 'expenses'), title: 'Expenses' %>
    <%= line_chart chart_data_collective_path(chart: 'donations'), title: 'Donations' %>
    <%= line_chart chart_data_collective_path(chart: 'unique_donors'), title: 'Donors' %>
    <%= line_chart chart_data_collective_path(chart: 'unique_expenses'), title: 'Spenders' %>

  <% else %>
    <p>
      No transactions yet.
    </p>
  <% end %>

</div>