<% @meta_title = "#{@collective}" %>
<% @meta_description = @collective.description %>

<div class="container-md">
    <%= render 'nav' %>

  <h1>
    <%= @collective.to_s %>
  </h1>

  <p>
    <%= @collective.description %> <br/>
    <% if @collective.account_type %>
      <%= @collective.account_type.humanize %> -
    <% end %>
    <% if @collective.host.present? %>
      Host: <%= link_to @collective.host, "https://opencollective.com/#{@collective.host}" %> -
    <% end %>
    <%= link_to @collective.html_url, @collective.html_url, target: :_blank %>
    <% if @collective.website.present? && @collective.website != @collective.project_url %>
      - Website: <%= link_to @collective.website, @collective.website, target: :_blank %>
    <% end %>
    <% if @collective.project_url.present? %>
      -  Code: <%= link_to @collective.project_url, @collective.project_url, target: :_blank %>
    <% end %>
  </p>

  <%= render 'collective_nav' %>

  <div class='d-flex justify-content-between my-4'>
  
    <%= link_to collective_path(@collective.slug, range: @range, start_date: previous_period_start_date, end_date: previous_period_end_date), class: "btn btn-light #{'disabled' if @collective.collective_created_at && previous_period_end_date < @collective.collective_created_at}" do %>
      <%= octicon 'chevron-left' %> <%= previous_period_name %>
    <% end %>

    <span class='btn pe-none'><%= current_period_name %></span>

    <%= link_to collective_path(@collective.slug, range: @range, start_date: next_period_start_date, end_date: next_period_end_date), class: "btn btn-light #{'disabled' unless next_period_valid?}" do %>
      <%= next_period_name %> <%= octicon 'chevron-right' %>
    <% end %>

  </div>

  <%= render 'stats/collective_stats' %>

  <hr/>

  <% if @collective.host == 'opensource' %>
    <%= render 'stats/project_stats' %>
  <% end %>

</div>