<% @meta_title = "#{@collective}" %>

<div class="container-md">
    <%= render 'nav' %>

  <h1>
    <%= @collective.to_s %>
  </h1>

  <p>
    <%= @collective.description %> <br/>
    <% if @collective.account_type %>
      <%= @collective.account_type.humanize %> -
    <% end %>
    <% if @collective.host.present? %>
      Host: <%= link_to @collective.host, "https://opencollective.com/#{@collective.host}" %> -
    <% end %>
    <%= link_to @collective.html_url, @collective.html_url, target: :_blank %>
    <% if @collective.website.present? && @collective.website != @collective.project_url %>
      - Website: <%= link_to @collective.website, @collective.website, target: :_blank %>
    <% end %>
    <% if @collective.project_url.present? %>
      -  Code: <%= link_to @collective.project_url, @collective.project_url, target: :_blank %>
    <% end %>
  </p>

  <%= render 'collective_nav' %>

  <div class='d-flex justify-content-between my-4'>
  
    <%= link_to collective_path(@collective.slug, range: @range, start_date: previous_period_start_date, end_date: previous_period_end_date), class: "btn btn-light #{'disabled' if previous_period_end_date < @collective.collective_created_at}" do %>
      <%= octicon 'chevron-left' %> <%= previous_period_name %>
    <% end %>

    <span class='btn pe-none'><%= current_period_name %></span>

    <%= link_to collective_path(@collective.slug, range: @range, start_date: next_period_start_date, end_date: next_period_end_date), class: "btn btn-light #{'disabled' unless next_period_valid?}" do %>
      <%= next_period_name %> <%= octicon 'chevron-right' %>
    <% end %>

  </div>

  <div class='row'>
    <h2>Financials</h2>

    <div class='row my-3'>
      <div class='col-md-6'>
        <%= pie_chart transactions_chart_path(collective_slugs: @collective.slug, chart: 'donor_pie', start_date: @start_date, end_date: @end_date), title: 'Top Donors', donut: true, legend: 'left', thousands: "," , zeros: true, prefix: "$" %>
      </div>
      <div class='col-md-6'>
        <%= pie_chart transactions_chart_path(collective_slugs: @collective.slug, chart: 'spenders_pie', start_date: @start_date, end_date: @end_date), title: 'Top Spenders', donut: true, legend: 'left', thousands: ",", zeros: true, prefix: "$" %>
      </div>
    </div>

    <div class='row my-3'>
      <div class='col-md-6'>
        Donations: <%= number_with_delimiter(stat_this_period(:donations_count)) %> (<%= number_to_currency(stat_this_period(:donations_total_amount)) %>)<br/>
        Expenses: <%= number_with_delimiter(stat_this_period(:expenses_count)) %> (<%= number_to_currency(stat_this_period(:expenses_total_amount)) %>)<br/>
        Donors: <%= number_with_delimiter(stat_this_period(:unique_donors_count)) %><br/>
        Spenders: <%= number_with_delimiter(stat_this_period(:unique_spenders_count)) %>
      </div>
      <div class='col-md-6'>
        <%= pie_chart transactions_chart_path(collective_slugs: @collective.slug, chart: 'transaction_kind_pie', start_date: @start_date, end_date: @end_date), title: 'Transaction Kinds', donut: true, legend: 'left', thousands: ",", zeros: true, prefix: "$" %>
      </div>
    </div>
  </div>

  <hr/>

  <% if @collective.host == 'opensource' %>
    <%= render 'stats/project_stats' %>
  <% end %>

</div>