<% @meta_title = "#{@collective}" %>

<div class="container-md">
  <h1>
    <%= @collective.to_s %><br/>
  </h1>

  <p>
    <%= @collective.description %> <br/>
    <%= link_to @collective.html_url, @collective.html_url, target: :_blank %> - 
    <%= link_to @collective.website, @collective.website, target: :_blank %>
  </p>

  <%= form_with url: request.path, method: :get do |form| %>
    <%= form.label :range, 'Select range:' %>
    <%= form.select :range, options_for_select([30, 90, 180, 360], @range.to_i), {}, { onchange: 'this.form.submit()' } %>
  <% end %><br/>

  <%= render 'stats' %>

  <h2>Transactions</h2>

  <% if @collective.transactions_count > 0 %>

    <%= line_chart chart_data_collective_path(chart: 'all_transactions', period: @period, range: @range), title: 'All Transactions' %>
    <%= line_chart chart_data_collective_path(chart: 'expenses', period: @period, range: @range), title: 'Expenses' %>
    <%= line_chart chart_data_collective_path(chart: 'donations', period: @period, range: @range), title: 'Donations' %>
    <%= line_chart chart_data_collective_path(chart: 'unique_donors', period: @period, range: @range), title: 'Donors' %>
    <%= line_chart chart_data_collective_path(chart: 'unique_expenses', period: @period, range: @range), title: 'Spenders' %>

  <% else %>
    <p>
      No transactions yet.
    </p>
  <% end %>

  <% if @collective.issues.count > 0 %>
    <h2>Issues</h2>

    <%= render 'issue_charts' %>
  <% else %>
    <p>
      No issues or pull requests yet.
    </p>
  <% end %>

  <% if @collective.projects.any? %>
    <h2>Repositories</h2>

    <%= render @collective.projects %>
  <% else %>
    <p>
      No repositories found.
    </p>
  <% end %>

</div>