<% @meta_title = "#{@project}" %>
<% @meta_description = "Stats for #{@project} on Open Collective" %>

<div class="container-md">

  <%= render 'nav' %>

  <h1>
    <%= link_to @project.collective, @project.collective %>: 
    <%= @project.to_s %><br/>
  </h1>

  <p>
    <%= @project.description %> <br/>
    <%= link_to @project.url, @project.url %>
  </p>

  <%= render 'project_nav' %>

  <%= render 'stats/project_stats' %>

  <% if @project.last_synced_at %>
  
    <% if @project.keywords.any? %>
      <p>
        <% @project.keywords.each do |keyword| %>
          <span class="badge bg-light text-dark">
            <%= keyword %>
          </span>
        <% end %>
      </p>
    <% end %>

    <p class="card-subtitle mb-2 text-muted"><i><small>
        Last synced: <%= distance_of_time_in_words_to_now @project.last_synced_at %> ago <br>
        <%= link_to 'JSON representation', api_v1_project_path(@project) %>
    </small></i></p>

    <%= render 'repository' %>

    <%= form_with url: request.path, method: :get do |form| %>
      <%= form.label :range, 'Select range:' %>
      <%= form.select :range, options_for_select([30, 90, 180, 360], @range.to_i), {}, { onchange: 'this.form.submit()' } %>
    <% end %><br/>

    <%= render 'stats' %>

    <% if @project.tags.displayable.count > 0 %>
      <%= line_chart tags_chart_path(project_ids: @project.id, chart: 'tags', period: @period, exclude_bots: @exclude_bots, range: @range, start_date: @start_date, end_date: @end_date), thousands: ",", title: 'Releases' %>
    <% end %>

    <% if @project.issues.count > 0 %>
      <h2>Issues</h2>

      <%= render 'issue_charts' %>
    <% else %>
      <p>
        No issues or pull requests found within this period.
      </p>
    <% end %>

    <% if @project.commits.count > 0 %>
      <h2>Commits</h2>

      <%= render 'commit_charts' %>
    <% else %>
      <p>
        No commits found within this period.
      </p>
    <% end %>

  <% else %>
    <p>
      This project has not been synced yet. Check back in a few minutes.
      <meta http-equiv="refresh" content="10">
    </p>
  <% end %>
</div>