<div class='row'>
  <h2>Financials</h2>

  <div class='row my-3'>
    <div class='col-md-6'>
      <%= transaction_pie_chart('donor_pie', 'Donors') %>
    </div>
    <div class='col-md-6'>
      <%= transaction_pie_chart('spenders_pie', 'Spenders') %>
    </div>
  </div>

  <div class='row my-3'>
    <div class='col-md-6'>
      Donations: <%= number_with_delimiter(stat_this_period(:donations_count)) %> (<%= number_to_currency(stat_this_period(:donations_total_amount)) %>)<br/>
      Expenses: <%= number_with_delimiter(stat_this_period(:expenses_count)) %> (<%= number_to_currency(stat_this_period(:expenses_total_amount)) %>)<br/>
      Donors: <%= number_with_delimiter(stat_this_period(:unique_donors_count)) %><br/>
      Spenders: <%= number_with_delimiter(stat_this_period(:unique_spenders_count)) %>
    </div>
    <div class='col-md-6'>
      <%= transaction_pie_chart('transaction_kind_pie', 'Transaction Kinds') %>
    </div>
  </div>
</div>