<% @meta_title = "SBOM: #{@sbom.id}"%>
<% @meta_description = "Software Bill of Materials" %>

<div class="container-md">

  <%= render 'nav' %>

  <h3 class='my-3'>SBOM: <%= @sbom.id %></h3>
  
  <div class="row">
    <div class="col-md-6">
      <h4>Raw</h4>
      <pre><%= simple_format @sbom.raw %></pre>
    </div>
    <div class="col-md-6">
      <h4>Converted</h4>
      <pre><%= simple_format JSON.pretty_generate(@sbom.converted) %></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Artifacts</h3>

      <% collectives = Set.new %>

      <% @sbom.packageurls.group_by(&:type).each do |type, purls| %>
        <h4><%= type %></h4>
        <ul>
          <% purls.group_by{|p| [p.namespace, p.name]}.each do |group, purls| %>
            <% purl = purls.first %>
            <li>
              <% match = @sbom.find_project purl %>
              <% if match %>
                <% collectives.add match.collective %>
                <%= link_to [purl.namespace, purl.name].compact.join('/'), project_path(match) %>
              <% else %>
                <%= [purl.namespace, purl.name].compact.join('/') %>
              <% end %>

              <% if purl.version %>
                <span class='text-muted small'><i><%= purl.version %></i></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-md-6">
      <h4>Collectives</h4>
      <%= render collectives.to_a %>
    </div>
  </div>


</div>